
 <div id="carrito-list">
 {{#each carts}}
  <div class="carrito-card">
    <h2>{{data-id}}</h2>
    <p><strong>Descripción:</strong> {{description}}</p>
    <p><strong>Categoría:</strong> {{category}}</p>
    <p><strong>Precio:</strong> ${{price}}</p>
    <p><strong>Stock:</strong> {{stock}}</p>
  </div>
{{/each}}

<style>
  .carrito-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    display: inline-block;
    background-color: #f9f9f9;
  }

</style>

